body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-family: 'Manrope', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  .parant{
    position: relative;
  }
.eye{
position: absolute;}



.input{
  color: var(--color-main);
}

.input::-webkit-input-placeholder {
  color: #999;
  font-size:14px
}

.input::-moz-placeholder {
  color: #999;
  font-size:14px
}

.input:-ms-input-placeholder {
  color: #999;
  font-size:14px
}

.input::-ms-input-placeholder {
  color: #999;
  font-size:14px
}

.input::placeholder {
  color: #999;
  font-size:14px
}

.passwordInputWrapper {
  position: relative;
}

.togglePasswordVisibilityButton {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
/* end shared style in login and register */